.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaf6ff;

  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .title {
      text-align: center;
      color: #375a7f;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
}
