.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E5F2FF; // fondo claro

  .header {
    background-color: #6D6D6D;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    justify-content: space-between;
    border-radius: 10px;
    width: 1440;
    height: 150;
  }

  .content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .footer {
    background-color: #6D6D6D;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 10px;
  }

  main {
    flex: 1; // ✅ Esto hace que el contenido ocupe el espacio restante
    padding: 2rem;
  }

  .logout-icon {
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;

    mat-icon {
      font-size: 28px;
    }
  }

}
