<div class="login-container">
  <mat-card class="login-card">
    <h1 class="title">SMECEN</h1>

    <form>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="ej: usuario@correo.com" type="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Tu contraseña" type="password">
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary">Login</button>
        <button mat-button color="accent">Signup</button>
      </div>
    </form>
  </mat-card>
</div>
